{% extends "base.html" %}

{% block content %}
    {% if selected_recipe %}
        <h1>{{ selected_recipe.title }}</h1>
        <p>{{ selected_recipe.content }}</p>
    {% else %}
        <h1>Welcome to My Recipes</h1>
        <p>Select a recipe from the sidebar to read more.</p>
        <p>Enter a dish you want to make and I will give you a recipe.</p>
        <div class="search-container">
            <form action="{{ url_for('search') }}" method="GET"></form>
                <input type="text" name="q" placeholder="Enter a dish" class="search-input">
                <button type="submit" class="search-button">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %} 