{% extends "base.html" %}

{% block content %}
    {% if selected_recipe %}
        <div class="recipe-detail"></div>
            <h1>{{ selected_recipe.title }}</h1>
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in selected_recipe.contents.ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h2>Instructions</h2>
            <ol>
                {% for instruction in selected_recipe.contents.instructions %}
                <li>{{ instruction }}</li>
                {% endfor %}
            </ol>
            <h2>Tips</h2>
            <ul>
                {% for tip in selected_recipe.contents.tips %}
                <li>{{ tip }}</li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('home') }}" class="back-button">Back to Home</a>
        </div>
    {% else %}
        <h1>Welcome to My Recipes</h1>
        <p>Select a recipe from the sidebar to read more.</p>
        <p>Enter a dish you want to make and I will give you a recipe.</p>
        <div class="search-container">
            <form action="{{ url_for('search_by_dish') }}" method="GET" onsubmit="disableButtons()">
                <input type="text" name="q" placeholder="Enter a dish" class="search-input" required>
                <button type="submit" class="search-button">Submit</button>
            </form>
        </div>
        <p>Or enter ingredient(s) and I will give you a recipe.</p>
        <div class="search-container">
            <form action="{{ url_for('search_by_ingredient') }}" method="GET" onsubmit="disableButtons()">
                <input type="text" name="q" placeholder="Enter ingredient(s)" class="search-input" required>
                <button type="submit" class="search-button">Submit</button>
            </form>
        </div>

        <script>
            function disableButtons() {
                const buttons = document.querySelectorAll('.search-button');
                buttons.forEach(button => {
                    button.disabled = true;
                });
                return true;
            }
        </script>
 
    {% endif %}
{% endblock %} 
